.hero {
    position: relative;
    background-image: url('/src/meOnRiver2.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    color: white;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content {
    max-width: 600px;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero p {
    font-size: 1.25rem;
}  
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.content {
    display: none;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form-group label {
    font-weight: bold;
  }
  .form-control {
    border-radius: 0;
  }
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0;
  }
  .list-unstyled {
    list-style: none;
    padding: 0;
  }
  .list-unstyled li {
    margin-bottom: 10px;
  }
  .skill {
    text-align: center;
    margin: 20px 0;
  }
  .skill-icon {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .about-photo {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .about-photo {
      float: right;
      margin-top: 80px;
      margin-right: 40px;
      max-width: 200px;
    }
  }
  .about-section {
    margin: 20px 0;
  }
  .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .portfolio-description {
    margin-top: 10px;
  }
  .resume-section {
    margin: 20px 0;
  }
  .resume-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .resume-item {
    margin-bottom: 20px;
  }
